:root {
  --color_primario: #d8dbe2;
  --color_secundario: #58a4b0;
  /* --color_terciario: #457B9D; */
  --gradient_color_1:#373f51;
  --gradient_color_2:#373f51;

  --boton_texto: #fff;
  --fondo:#fff;
}

body {
  margin: 0;
  background-color: var(--fondo);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
